<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<base href="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))" />

	<link rel="shortcut icon" href="content/app/images/favicon.ico">

	@Scripts.Render("~/bundles/js/webapp.js")

	@RenderSection("JavaScript", required: false)

	@Styles.Render("~/bundles/css/webapp.css")

	@RenderSection("Styles", required: false)

	<title>@ViewBag.Title</title>
</head>

<body ng-app="app" class="filters-open">
<div class="screen">
<!--HEADER-->
<div class="main-header"  id="form1" runat="server">

    <a href="@Url.Action("Index","WorkSpace")" class="app-logo" target="_self">
		<svg width="221" height="51" viewBox="0 0 221 51"> <path fill="#DD3333" d="M57.8 51H5.2C2.3 51 0 48.7 0 45.8V5.2C0 2.3 2.3 0 5.2 0H57.8C60.7 0 63 2.3 63 5.2V45.9C63 48.7 60.7 51 57.8 51Z"></path> <path fill="#ffffff" d="M13.5 8L8.90005 12.4L4.30005 16.8L8.90005 21.2L13.5 25.6L8.90005 30L4.30005 34.4L8.90005 38.8L13.5 43.2H20.4L11.1 34.5L20.4 25.8L11.1 17.1L20.4 8H13.5ZM49.4001 25.5L54 21.1L58.6 16.7L54 12.3L49.4001 8H42.5L51.8 16.7L42.5 25.4L51.8 34.1L42.5 43H49.4001L54 38.6L58.6 34.2L54 29.8L49.4001 25.5ZM31.5 14.7C26.7 14.7 22.7001 18.7 22.7001 23.5V27.5C22.7001 32.3 26.7 36.3 31.5 36.3C36.3 36.3 40.3 32.3 40.3 27.5V23.5C40.3 18.7 36.3 14.7 31.5 14.7ZM34.8 27.8C34.8 29.6 33.3 31.1 31.5 31.1C29.7 31.1 28.2001 29.6 28.2001 27.8V23.2C28.2001 21.4 29.7 19.9 31.5 19.9C33.3 19.9 34.8 21.4 34.8 23.2V27.8Z"></path> <path class="logo__text" d="M117.9 8.2H114.5V24.3H117.9V8.2ZM89.5001 15.9C88.6001 15.6 87.5001 15.3 86.2001 15C85.2001 14.8 84.4001 14.6 83.9001 14.4C83.3001 14.2 82.9001 14 82.5001 13.7C82.1001 13.4 81.9001 13 81.9001 12.6C81.9001 11.9 82.2001 11.4 82.9001 11C83.5001 10.6 84.5001 10.4 85.9001 10.4C86.7001 10.4 87.6001 10.5 88.4001 10.7C89.3001 10.9 90.1001 11.2 90.9001 11.6L92.0001 9.3C91.2001 8.8 90.3001 8.5 89.2001 8.2C88.0001 8.1 86.9001 8 85.8001 8C84.2001 8 82.9001 8.2 81.8001 8.6C80.7001 9 79.9001 9.6 79.3001 10.3C78.8001 11 78.5001 11.8 78.5001 12.7C78.5001 13.8 78.8001 14.6 79.4001 15.2C80.0001 15.8 80.8001 16.3 81.6001 16.6C82.5001 16.9 83.6001 17.2 85.0001 17.5C86.0001 17.7 86.8001 17.9 87.3001 18.1C87.9001 18.3 88.3001 18.5 88.7001 18.8C89.1001 19.1 89.3001 19.5 89.3001 19.9C89.3001 20.5 89.0001 21 88.3001 21.4C87.6001 21.8 86.6001 22 85.3001 22C84.2001 22 83.1001 21.8 82.0001 21.5C80.9001 21.2 80.0001 20.7 79.3001 20.2L78.1001 22.5C78.9001 23.1 79.9001 23.5 81.2001 23.9C82.5001 24.3 83.9001 24.4 85.3001 24.4C86.9001 24.4 88.2001 24.2 89.4001 23.8C90.5001 23.4 91.3001 22.8 91.9001 22.1C92.4001 21.4 92.7001 20.6 92.7001 19.7C92.7001 18.7 92.4001 17.8 91.8001 17.2C91.1001 16.7 90.3001 16.2 89.5001 15.9ZM165 19.6H169.1C169.4 19.6 169.6 19.6 169.8 19.6L173.5 24.3H177.1L173 19C174.2 18.6 175.2 17.9 175.9 17.1C176.6 16.2 176.9 15.2 176.9 14C176.9 12.8 176.6 11.8 176 10.9C175.4 10 174.5 9.4 173.3 8.9C172.1 8.4 170.8 8.2 169.2 8.2H161.7V24.3H165.1V19.6H165ZM165 10.8H168.9C170.4 10.8 171.5 11.1 172.2 11.6C173 12.2 173.3 12.9 173.3 14C173.3 15.1 172.9 15.8 172.2 16.4C171.4 17 170.3 17.2 168.9 17.2H165V10.8ZM157.9 21.8H147.6V17.4H156.4V14.9H147.6V10.7H157.5V8.2H144.2V24.3H157.8V21.8H157.9ZM99.3001 19.7H103.4C105 19.7 106.3 19.5 107.5 19C108.7 18.5 109.6 17.9 110.2 17C110.8 16.1 111.1 15.1 111.1 14C111.1 12.8 110.8 11.8 110.2 10.9C109.6 10 108.7 9.4 107.5 8.9C106.3 8.4 105 8.2 103.4 8.2H95.9001V24.3H99.3001V19.7ZM99.3001 10.8H103.2C104.7 10.8 105.8 11.1 106.5 11.6C107.3 12.2 107.6 12.9 107.6 14C107.6 15.1 107.2 15.8 106.5 16.4C105.7 17 104.6 17.2 103.2 17.2H99.3001V10.8ZM139.4 20.5C140.2 19.3 140.6 17.9 140.6 16.3C140.6 14.7 140.2 13.3 139.4 12.1C138.6 10.9 137.4 9.9 135.9 9.3C134.4 8.6 132.7 8.3 130.7 8.3H122.8V24.4H130.7C132.6 24.4 134.4 24.1 135.9 23.4C137.4 22.6 138.6 21.7 139.4 20.5ZM130.6 21.8H126.2V10.8H130.6C131.9 10.8 133.1 11 134.1 11.5C135.1 12 135.9 12.6 136.4 13.4C136.9 14.2 137.2 15.2 137.2 16.3C137.2 17.4 136.9 18.4 136.4 19.2C135.9 20 135.1 20.7 134.1 21.1C133.1 21.5 131.9 21.8 130.6 21.8ZM186.8 32.6C186 32.2 185.2 31.9 184.2 31.9C183.2 31.9 182.4 32.1 181.6 32.6C180.8 33 180.2 33.7 179.8 34.5C179.4 35.3 179.1 36.2 179.1 37.2C179.1 38.2 179.3 39.1 179.8 39.9C180.3 40.7 180.9 41.3 181.7 41.8C182.5 42.3 183.5 42.5 184.5 42.5C185.3 42.5 186.1 42.4 186.8 42.1C187.5 41.8 188.1 41.4 188.5 40.8L187.7 39.9C187.3 40.3 186.8 40.7 186.3 40.9C185.8 41.1 185.2 41.2 184.5 41.2C183.4 41.2 182.4 40.9 181.7 40.2C181 39.5 180.5 38.7 180.5 37.6H189.1V37.2C189.1 36.2 188.9 35.3 188.5 34.5C188.2 33.6 187.6 33 186.8 32.6ZM180.6 36.5C180.7 35.5 181.1 34.7 181.7 34C182.4 33.4 183.2 33.1 184.2 33.1C185.2 33.1 186 33.4 186.7 34C187.4 34.6 187.8 35.5 187.8 36.5H180.6ZM130.9 42.3H132.3V27.8H130.9V42.3ZM220.4 37.9C220 37.5 219.6 37.3 219.1 37.1C218.6 36.9 217.9 36.8 217.1 36.6C216.4 36.5 215.9 36.4 215.5 36.3C215.1 36.2 214.8 36 214.5 35.8C214.2 35.6 214.1 35.3 214.1 34.9C214.1 34.4 214.3 34 214.8 33.7C215.3 33.4 215.9 33.2 216.8 33.2C218 33.2 219 33.5 219.8 34.1L220.4 33C220 32.7 219.4 32.5 218.8 32.3C218.1 32.1 217.5 32 216.8 32C215.5 32 214.5 32.3 213.8 32.8C213.1 33.3 212.7 34.1 212.7 34.9C212.7 35.6 212.9 36.1 213.2 36.5C213.6 36.9 214 37.2 214.5 37.3C215 37.5 215.7 37.6 216.5 37.8C217.1 37.9 217.6 38 218 38.1C218.4 38.2 218.7 38.4 218.9 38.6C219.1 38.8 219.3 39.1 219.3 39.5C219.3 40 219.1 40.4 218.6 40.7C218.1 41 217.5 41.1 216.5 41.1C215.8 41.1 215.1 41 214.5 40.8C213.8 40.6 213.3 40.3 212.9 40L212.3 41.1C212.7 41.5 213.3 41.8 214.1 42C214.9 42.2 215.7 42.4 216.5 42.4C217.8 42.4 218.9 42.1 219.6 41.6C220.4 41.1 220.7 40.4 220.7 39.5C220.9 38.8 220.7 38.3 220.4 37.9ZM173.1 31.9C172.2 31.9 171.4 32.1 170.7 32.5C170 32.9 169.4 33.4 169.1 34.1C168.8 33.4 168.3 32.8 167.7 32.5C167.1 32.1 166.3 32 165.5 32C164.7 32 163.9 32.2 163.2 32.5C162.5 32.8 162 33.3 161.7 33.9V32H160.4V42.3H161.8V36.9C161.8 35.7 162.1 34.8 162.7 34.2C163.3 33.5 164.2 33.2 165.2 33.2C166.2 33.2 166.9 33.5 167.4 34C167.9 34.6 168.2 35.4 168.2 36.4V42.2H169.6V36.8C169.6 35.6 169.9 34.7 170.5 34.1C171.1 33.4 172 33.1 173 33.1C173.9 33.1 174.7 33.4 175.2 33.9C175.7 34.5 176 35.3 176 36.3V42.1H177.4V36.1C177.4 34.7 177 33.6 176.3 32.8C175.4 32.3 174.4 31.9 173.1 31.9ZM143.2 32.6C142.4 32.2 141.5 31.9 140.5 31.9C139.5 31.9 138.6 32.1 137.8 32.6C137 33 136.4 33.7 135.9 34.5C135.4 35.3 135.2 36.2 135.2 37.2C135.2 38.2 135.4 39.1 135.9 39.9C136.4 40.7 137 41.3 137.8 41.8C138.6 42.3 139.5 42.5 140.5 42.5C141.5 42.5 142.4 42.3 143.2 41.8C144 41.3 144.6 40.7 145.1 39.9C145.6 39.1 145.8 38.2 145.8 37.2C145.8 36.2 145.6 35.3 145.1 34.5C144.7 33.6 144 33 143.2 32.6ZM143.9 39.2C143.6 39.8 143.1 40.3 142.5 40.6C141.9 40.9 141.3 41.1 140.5 41.1C139.8 41.1 139.1 40.9 138.5 40.6C137.9 40.3 137.5 39.8 137.1 39.2C136.8 38.6 136.6 37.9 136.6 37.1C136.6 36.3 136.8 35.6 137.1 35C137.4 34.4 137.9 33.9 138.5 33.6C139.1 33.3 139.7 33.1 140.5 33.1C141.2 33.1 141.9 33.3 142.5 33.6C143.1 33.9 143.5 34.4 143.9 35C144.2 35.6 144.4 36.3 144.4 37.1C144.4 37.9 144.2 38.6 143.9 39.2ZM155.7 32.6C154.9 32.2 154 31.9 153.1 31.9C152.2 31.9 151.5 32.1 150.8 32.4C150.1 32.8 149.6 33.3 149.1 34V32H147.8V46.1H149.2V40.4C149.6 41.1 150.2 41.6 150.9 41.9C151.6 42.2 152.3 42.4 153.2 42.4C154.2 42.4 155.1 42.2 155.8 41.7C156.6 41.3 157.2 40.6 157.6 39.8C158 39 158.3 38.1 158.3 37.1C158.3 36.1 158.1 35.2 157.6 34.4C157.1 33.6 156.5 33 155.7 32.6ZM156.4 39.2C156.1 39.8 155.6 40.3 155 40.6C154.4 40.9 153.8 41.1 153 41.1C152.3 41.1 151.6 40.9 151 40.6C150.4 40.3 150 39.8 149.6 39.2C149.3 38.6 149.1 37.9 149.1 37.1C149.1 36.3 149.3 35.6 149.6 35C149.9 34.4 150.4 33.9 151 33.6C151.6 33.3 152.2 33.1 153 33.1C153.7 33.1 154.4 33.3 155 33.6C155.6 33.9 156 34.4 156.4 35C156.7 35.6 156.9 36.3 156.9 37.1C156.9 37.9 156.7 38.6 156.4 39.2ZM101.1 32.6C100.3 32.2 99.5001 31.9 98.5001 31.9C97.5001 31.9 96.7001 32.1 95.9001 32.6C95.1001 33 94.5001 33.7 94.1001 34.5C93.7001 35.3 93.4001 36.2 93.4001 37.2C93.4001 38.2 93.6001 39.1 94.1001 39.9C94.6001 40.7 95.2001 41.3 96.0001 41.8C96.8001 42.3 97.8001 42.5 98.8001 42.5C99.6001 42.5 100.4 42.4 101.1 42.1C101.8 41.8 102.4 41.4 102.8 40.8L102 39.9C101.6 40.3 101.1 40.7 100.6 40.9C100.1 41.1 99.5001 41.2 98.8001 41.2C97.7001 41.2 96.7001 40.9 96.0001 40.2C95.3001 39.5 94.8001 38.7 94.8001 37.6H103.4V37.2C103.4 36.2 103.2 35.3 102.8 34.5C102.4 33.6 101.8 33 101.1 32.6ZM94.9001 36.5C95.0001 35.5 95.4001 34.7 96.0001 34C96.7001 33.4 97.5001 33.1 98.5001 33.1C99.5001 33.1 100.3 33.4 101 34C101.7 34.6 102.1 35.5 102.1 36.5H94.9001ZM210 41C209.7 41.1 209.5 41.1 209.2 41.1C208.6 41.1 208.2 40.9 207.9 40.6C207.6 40.3 207.4 39.8 207.4 39.2V33.1H210.5V32H207.4V29.7H206V32H204.2V33.2H206V39.4C206 40.4 206.3 41.1 206.8 41.6C207.3 42.1 208.1 42.4 209 42.4C209.4 42.4 209.8 42.3 210.2 42.2C210.6 42.1 210.9 41.9 211.2 41.7L210.7 40.7C210.5 40.8 210.3 41 210 41ZM197.6 31.9C196.7 31.9 195.9 32.1 195.3 32.4C194.6 32.7 194.1 33.2 193.7 33.9V32H192.4V42.3H193.8V36.9C193.8 35.7 194.1 34.8 194.8 34.2C195.5 33.6 196.3 33.2 197.4 33.2C198.4 33.2 199.2 33.5 199.7 34C200.2 34.6 200.5 35.4 200.5 36.4V42.2H201.9V36.2C201.9 34.8 201.5 33.7 200.8 32.9C199.9 32.3 198.8 31.9 197.6 31.9ZM110.7 40.8L106.8 32H105.4L110 42.3H111.4L116 32H114.6L110.7 40.8ZM87.9001 29.4C86.8001 28.8 85.5001 28.5 84.1001 28.5H78.5001V42.2H84.0001C85.4001 42.2 86.7001 41.9 87.8001 41.3C88.9001 40.7 89.8001 39.9 90.4001 38.9C91.0001 37.9 91.3001 36.7 91.3001 35.3C91.3001 33.9 91.0001 32.8 90.4001 31.7C89.8001 30.8 89.0001 30 87.9001 29.4ZM89.2001 38.3C88.7001 39.1 88.0001 39.8 87.1001 40.3C86.2001 40.8 85.1001 41 83.9001 41H79.8001V29.8H84.0001C85.2001 29.8 86.3001 30 87.2001 30.5C88.1001 31 88.8001 31.6 89.3001 32.5C89.8001 33.3 90.0001 34.3 90.0001 35.4C90.0001 36.5 89.7001 37.5 89.2001 38.3ZM125.4 32.6C124.6 32.2 123.8 31.9 122.8 31.9C121.8 31.9 121 32.1 120.2 32.6C119.4 33 118.8 33.7 118.4 34.5C118 35.3 117.7 36.2 117.7 37.2C117.7 38.2 117.9 39.1 118.4 39.9C118.9 40.7 119.5 41.3 120.3 41.8C121.1 42.3 122.1 42.5 123.1 42.5C123.9 42.5 124.7 42.4 125.4 42.1C126.1 41.8 126.7 41.4 127.1 40.8L126.3 39.9C125.9 40.3 125.4 40.7 124.9 40.9C124.4 41.1 123.8 41.2 123.1 41.2C122 41.2 121 40.9 120.3 40.2C119.6 39.5 119.1 38.7 119.1 37.6H127.7V37.2C127.7 36.2 127.5 35.3 127.1 34.5C126.8 33.6 126.2 33 125.4 32.6ZM119.2 36.5C119.3 35.5 119.7 34.7 120.3 34C121 33.4 121.8 33.1 122.8 33.1C123.8 33.1 124.6 33.4 125.3 34C126 34.6 126.4 35.5 126.4 36.5H119.2Z"></path> </svg>
    </a>
	<div class="main-header__primary">
		<div class="main-header__title">Spider Docs</div>

		<nav class="main-nav" aria-label="Primary Nav">
			<div class="dropdown dropdown-1 main-nav__mob-menu js--submobile-nav__trigger">
					<a class="is-active dropbtn">
						<svg aria-hidden="true" role="img" viewBox="0 0 30 30">
							<path d="M11,24 L11,15 C11,14.4477153 11.4477153,14 12,14 L18,14 C18.5522847,14 19,14.4477153 19,15 L19,24 L22,24 C22.5522847,24 23,23.5522847 23,23 L23,12.25 L15,6.25 L7,12.25 L7,23 C7,23.5522847 7.44771525,24 8,24 L11,24 Z M13,24 L17,24 L17,16 L13,16 L13,24 Z M25,13.75 L25,23 C25,24.6568542 23.6568542,26 22,26 L8,26 C6.34314575,26 5,24.6568542 5,23 L5,13.75 L3.6,14.8 C3.1581722,15.1313708 2.53137085,15.0418278 2.2,14.6 C1.86862915,14.1581722 1.9581722,13.5313708 2.4,13.2 L14.4,4.2 C14.7555556,3.93333333 15.2444444,3.93333333 15.6,4.2 L27.6,13.2 C28.0418278,13.5313708 28.1313708,14.1581722 27.8,14.6 C27.4686292,15.0418278 26.8418278,15.1313708 26.4,14.8 L25,13.75 Z">
							</path>
						</svg>
						@* <span class="nav-tooltip">Registration</span> *@
						<span class="nav-tooltip">Registration</span>
					</a>
					<div class="dropdown-content">
						@* <span class="dropdown-content-title">Users</span> *@
						<a href="@Url.Action("Users", "Registration")" target="_self">Users</a>
						<a href="@Url.Action("Attributes", "Registration")" target="_self">Attributes</a>
						<a href="@Url.Action("Group", "Registration")" target="_self">Groups\Departments</a>
						<a href="@Url.Action("DocumentType", "Registration")" target="_self">Document Type</a>

					</div>
				</div>

				<div class="dropdown dropdown-2 main-nav__mob-menu js--submobile-nav__trigger">
					<a class="dropbtn">
						<svg aria-hidden="true" role="img" viewBox="0 0 30 30">
							<path d="M15.4705882,27.8823529 C15.1764706,28.0392157 14.8235294,28.0392157 14.5294118,27.8823529 C14.4466535,27.8382152 14.3022222,27.7573337 14.1048283,27.6407772 C13.7819734,27.4501391 13.4238181,27.2260625 13.0390498,26.9695503 C11.9417705,26.2380307 10.8448496,25.3897453 9.81768175,24.4310553 C6.82197937,21.6350664 5,18.4769688 5,15 L5,5.4 C5,4.9469493 5.30458393,4.5504993 5.74233735,4.43376506 L14.7423373,2.03376506 C14.9111627,1.98874498 15.0888373,1.98874498 15.2576627,2.03376506 L24.2576627,4.43376506 C24.6954161,4.5504993 25,4.9469493 25,5.4 L25,15 C25,18.4769688 23.1780206,21.6350664 20.1823183,24.4310553 C19.1551504,25.3897453 18.0582295,26.2380307 16.9609502,26.9695503 C16.5761819,27.2260625 16.2180266,27.4501391 15.8951717,27.6407772 C15.6977778,27.7573337 15.5533465,27.8382152 15.4705882,27.8823529 Z M14.1484502,25.3054497 C14.4536811,25.508937 14.7394387,25.6894289 15,25.8460624 C15.2605613,25.6894289 15.5463189,25.508937 15.8515498,25.3054497 C16.8636455,24.6307193 17.8760996,23.8477547 18.8176817,22.9689447 C21.4469794,20.5149336 23,17.8230312 23,15 L23,6.16827831 L15,4.03494498 L7,6.16827831 L7,15 C7,17.8230312 8.55302063,20.5149336 11.1823183,22.9689447 C12.1239004,23.8477547 13.1363545,24.6307193 14.1484502,25.3054497 Z M15,8 L16.6854545,11.2912723 L20.4545455,11.8222923 L17.7272727,14.382755 L18.3709091,18 L15,16.2912723 L11.6290909,18 L12.2727273,14.382755 L9.54545455,11.8222923 L13.3145455,11.2912723 L15,8 Z">
							</path>							
						</svg>
						<span class="nav-tooltip"><span>Permissions</span></span>
					</a>

					<div class="dropdown-content">
						<a href="@Url.Action("Group", "PermissionMenu")" target="_self">Members of Groups</a>
						<a href="@Url.Action("Folder", "PermissionMenu")" target="_self">Folders</a>
					</div>
				</div>

				<div class="dropdown dropdown-3 main-nav__mob-menu js--submobile-nav__trigger">
					<a class="dropbtn">
						<svg aria-hidden="true" role="img" viewBox="0 0 30 30">
							<path d="M24.9950264,10.1003629 C24.9983272,10.1333352 25,10.1665852 25,10.2 L25,24.6 C25,26.4638578 23.5598667,28 21.75,28 L8.25,28 C6.4401333,28 5,26.4638578 5,24.6 L5,5.4 C5,3.53614218 6.4401333,2 8.25,2 L17.25,2 C17.5264089,2 17.7904898,2.11440827 17.9795372,2.31605887 L24.2841084,9.04093477 C24.6980032,9.16335553 25,9.5464102 25,10 C25,10.0338741 24.9983157,10.0673548 24.9950264,10.1003629 Z M18,5.26211415 L18,9 L21.504268,9 L18,5.26211415 Z M23,11 L17,11 C16.4477153,11 16,10.5522847 16,10 L16,4 L8.25,4 C7.57458533,4 7,4.61289102 7,5.4 L7,24.6 C7,25.387109 7.57458533,26 8.25,26 L21.75,26 C22.4254147,26 23,25.387109 23,24.6 L23,11 Z M19,16.5 C19.5522847,16.5 20,16.9477153 20,17.5 C20,18.0522847 19.5522847,18.5 19,18.5 L11,18.5 C10.4477153,18.5 10,18.0522847 10,17.5 C10,16.9477153 10.4477153,16.5 11,16.5 L19,16.5 Z M19,20.5 C19.5522847,20.5 20,20.9477153 20,21.5 C20,22.0522847 19.5522847,22.5 19,22.5 L11,22.5 C10.4477153,22.5 10,22.0522847 10,21.5 C10,20.9477153 10.4477153,20.5 11,20.5 L19,20.5 Z M13,12.5 C13.5522847,12.5 14,12.9477153 14,13.5 C14,14.0522847 13.5522847,14.5 13,14.5 L11,14.5 C10.4477153,14.5 10,14.0522847 10,13.5 C10,12.9477153 10.4477153,12.5 11,12.5 L13,12.5 Z">
							</path>
						</svg>
						<span class="nav-tooltip"><span>Options</span></span>

					</a>

					<div class="dropdown-content">
						<a href="@Url.Action("preferences", "options")" target="_self">Preferences</a>
						@* <a href="@Url.Action("Folder", "PermissionMenu")" target="_self">Folders</a> *@
					</div>
				</div>
		</nav>
		@if (HttpContext.Current.User.Identity.IsAuthenticated )
		{
		<div class="main-header__account">
			<a href="#">
				<span class="main-header__account-user">Welcome back, <strong class="js-login-name">@User.Identity.Name</strong></span>
				<span class="main-header__account-initials hidden"><asp:Literal ID="ltrAbr" runat="server"></asp:Literal></span>
			</a>
			<nav class="main-header__account-options">
				<ul>
					@*<li><a href="dashboard.aspx" target="_self">Dashboard</a></li>*@
					<li>
						<a href="@Url.Action("Logout", "Account")" target="_self">Logout</a></li>
				</ul>
			</nav>
		</div>
		}
	</div>
    <button type="button" class="hamburger js--mobile-nav__trigger hidden">
      <span class="patties">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <span class="cross">
        <span></span>
        <span></span>
      </span>
    </button>
    <a href="lead-edit.aspx?id=" target="_self" class="cta-add-lead hidden">
      Add<span class="hidden"> new lead</span>
    </a>
  </div>

	@RenderBody()
</div>

	<div class="loading">
		<div class="loading-sheet"></div>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div id="notifications"></div>



</body>
</html>
