@{
	Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section JavaScript
{
	@RenderSection("JavaScript", required: false)

	@*<script type="text/javascript">
		$(function() {
		});
	</script>*@


}

@section Styles{
	@RenderSection("Styles", required: false)
}

@{
	<div style="position:absolute;right:5px;top:5px;">
		@* <strong>@Html.Encode(User.Identity.Name) | </strong>
		@Html.ActionLink("Log Out", "Logout", "Users") *@
	</div>

	@*<div class="top_menu">
		<a href="~/Requests/Index">Current Logged<br />Sketch Requests</a>
	</div>*@
}

<div>
	@RenderBody()
</div>
